<% if @tweets %>
  <% @tweets.each do |tweet|%>
    <div class='search-results'>
      <%= render partial: 'tweet', locals: { text: tweet.text, time_stamp: tweet.created_at} %>
    </div>
  <% end %>
<% else %>

  <p>No recent tweets for <%= @handle %></p>

<% end %>