<div>
  <h1>Tweeter</h1>
  <% if current_user %>
    <p>Currently signed in as: <%= current_user.email %> </p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Create Account", new_user_registration_path %>
  <% end %>
</div>