<div class='nav'>
  <div class='nav-inner'>
    <div class='nav-left'>
      <h3>Tweetr</h3>
    </div>
    <div class='nav-right'>
      <% if current_user %>
        <p><%= current_user.email %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to "Sign In", new_user_session_path %> | <%= link_to "Create Account", new_user_registration_path %></p>
      <% end %>
    </div>
  </div>
</div>